.header-unorder-list ul li{
    cursor: pointer;
    transition: .2s ease-in-out;
    position: relative;
    padding-bottom: 3px;
}
.header-unorder-list ul li:hover{
color: #ff4c30;
}
.header-unorder-list ul li.active::after{
content:"";
position: absolute;
border-bottom: 2px solid #ff4c30;
width: 100%;
bottom: 0;
left: 0;

}
.menu{
    display: none;
}
.close{
    display: none;
}
@media only screen and (max-width:768px) {
    header{
        height: 70px;
        background-color: #fff;
        width: 100%;
        position: relative;
    }
    .responsive-header{
        position: fixed;
        width: 100vw;
        height: 100vh !important;
        background-color: #fff;
        flex-direction: column;
        top: 0;
        transform: translateX(-100%);
        transition: .5s linear ease-in-out;
    }
    .menu{
        width: 100%;
        display: block;
        display: flex;
        flex-direction: row-reverse;
        padding-right: 1.5rem;
    }
    .close{
        display: block;
        width: 100%;
        display: block;
        display: flex;
        flex-direction: row-reverse;
        padding-right: 1.5rem;
        position: absolute;
        top: 30px;
    }
    .responsive-header.hide-show{
        transform: translateX(0);
       
    }
    .header-unorder-list ul{
        flex-direction: column;
    }
}


@media only screen and (max-width:640px) {
    header{
        height: 70px;
        background-color: #fff;
        width: 100%;
    }
    .responsive-header{
        position: fixed;
        width: 100vw;
        height: 100vh !important;
        background-color: #fff;
        flex-direction: column;
        top: 0;
        transform: translateX(-100%);
    }
    .menu{
        width: 100%;
        display: block;
      
        display: flex;
        flex-direction: row-reverse;
        padding-right: 1.5rem;
    }
    .close{
        display: block;
        width: 100%;
        display: block;
        display: flex;
        flex-direction: row-reverse;
        padding-right: 1.5rem;
        position: absolute;
        top: 30px;
    }
    .responsive-header .hide-show{
        transform: translateX(-100%);
    }
    .header-unorder-list ul{
        flex-direction: column;
    }

}